<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyGramProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Gram</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button>Log In</button> <button>Sign Up</button>
            </div>
        </nav>
    </header>
    <table>
        <thead>
            <tr>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img style="width: 250px; height: 250px;"
                         alt="Aaron Rodgers Image"
                         src="https://thespun.com/wp-content/uploads/2020/12/GettyImages-1289786527-775x465.jpg"/>
                </td>
                <td>
                    <img style="width: 250px; height: 250px;"
                         alt="Devante Adams Image"
                         src="https://cheeseheadtv.com/sites/default/files/post/2020/12/usatsi_15366769_168380931_lowres.jpg"/>
                </td>
                <td>
                    <img style="width: 250px; height: 250px;"
                         alt="Aaron Jones Image"
                         src="https://www.sportscasting.com/wp-content/uploads/2021/04/Aaron-Jones-father.jpg"/>
                </td>
            </tr>
            <tr>
                <td>
                    <img style="width: 250px; height: 250px;"
                         alt="Packers Image"
                         src="https://specials-images.forbesimg.com/imageserve/5ff5c2240a76b5d5e5fdd11e/960x0.jpg?fit=scale"/>
                </td>
                <td>
                    <img style="width: 250px; height: 250px;"
                         alt="Packers Vs. Vikings Image"
                         src="https://www.keyc.com/resizer/krRGS1a1uObk2LYiHSzG6NP_Jo4=/1200x600/cloudfront-us-east-1.images.arcpublishing.com/raycom/EYDMX22PXZAZXLCDYTG2QOQRRY.jpg"/>
                </td>
                <td>
                    <video controls style="width: 250px; height: 250px;">
                        <source alt="sample video"src="~/Videos/sample.mp4"
                                type="video/mp4"/>
                    </video>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <a href="https://www.google.com" target="_self">About</a>
        <a href="https://www.google.com" target="_self">Blog</a>
        <a href="https://www.google.com" target="_self">Jobs</a>
        <a href="https://www.google.com" target="_self">Help</a>
        <a href="https://www.google.com" target="_self">English</a>
        <a href="https://www.google.com" target="_self">2021</a>
        <a href="https://www.google.com" target="_self">MyGram</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
