<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - MyGramProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a id="Div1"class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Gram</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <input type="text" placeholder="Search" />
                <button id="Div2">Log In</buttonid="Div2"> <a href="~/Home/Register"><button id="Div3">Sign Up</button></a><a href="~/Home/UserProfile"><img style="width: 30px; height: 30px;"
                                                                                                   src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"></img></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <span id="Span11"><a href="https://www.google.com" target="_self"><span id="Span4">About</span></a>
        <a href="https://www.google.com" target="_self"><span id="Span5">Blog</spanid="Span4"></a>
        <a href="https://www.google.com" target="_self"><span id="Span6">Jobs</spanid="Span4"></a>
        <a href="https://www.google.com" target="_self"><span id="Span7">Help</spanid="Span4"></a>
        <a href="https://www.google.com" target="_self"><span id="Span8">English</spanid="Span4"></a>
        <a href="https://www.google.com" target="_self"><span id="Span9">2021</spanid="Span4"></a>
        <a href="https://www.google.com" target="_self"><span id="Span10">MyGram</spanid="Span4"></a></span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
