
#Div1{
    font-family:cursive;
    font-size:40px;
    font-weight: bold;
}
header {
    text-align: center;
}
.pb-3 {
    background-color: ghostwhite;
    text-align: center;
}
.Body{
    text-align: center;
}
.MyPage{
    text-align: center;
}
table{
    text-align:center;
}
#Span1{
    font-weight: bold;
}
#Span2 {
    font-weight: bold;
}
#Span3 {
    font-weight: bold;
}
#Span4{
    color:grey;
}
#Span5 {
    color: grey;
}
#Span6 {
    color: grey;
}
#Span7 {
    color: grey;
}
#Span8 {
    color: grey;
}
#Span9 {
    color: grey;
}
#Span10 {
    color: grey;
}
#Span11 {
    color: grey;
}
#Span12 {
    color: grey;
}
#Span13 {
    color: grey;
}
#Span14 {
    color: grey;
}
.People1 {
    border-radius: 200px;
}
footer a.hover{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: GrayText;
    text-align:center;
}
.Timelinebutton:link {
   background-color: white;
}
.Timelinebutton:hover {
    color: black;
    text-decoration: underline;
}
.Grambuttons:link{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px 5px 10px; 
}
.Grambuttons:hover {
    background-color: darkblue;
    border-color: white;
    border-width: 2px;
    color: white;
    cursor: progress;
}
.Followbutton:link {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}
.Followbutton:hover {
    background-color: darkblue;
    border-color: white;
    border-width: 2px;
    color: white;
    cursor: progress;
}
#span11:hover{
    background-color:black;
    color: gray;
}