@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" />
<table class="MyPage">
    <tbody>
        <tr>
            <td>
               <img style="width: 200px; height: 200px;" src="https://www.kindpng.com/picc/m/130-1300217_user-icon-member-icon-png-transparent-png.png" />
            </td>
            <td>
                Robert Holmes <a href="~/Home/UserProfile"class="Followbutton">Follow</a></br></br><span id="Span1">6</span> Post
                <span id="Span2">0</span> Followers <span id="Span3">0</span> Following
                </br></br>Welcome to my page, follow me to get pictures of the Green Bay Packers!!!
            </td>
        </tr>
    </tbody>
</table>
    </br>
<table>
    <tbody>
        <tr>
            <td>
                <img class="People1" style="width: 100px; height: 100px; border-radius: 50px;"
                     src="https://static.www.nfl.com/image/private/t_player_profile_landscape/f_auto/league/jbouklrht7n1r6afurdc"/>
            </td>
            <td>
                <img class="People1" style="width: 100px; height: 100px; border-radius: 50px;" 
                     src="https://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/16800.png&w=350&h=254"/>
            </td>
        </tr>
        <tr>
            <td>
                Aaron Rodgers
            </td>
            <td>
                Devante Adams
            </td>
        </tr>
    </tbody>
</table>
<a class="Timelinebutton" href="https://www.google.com" target="_self">Posts</a>
<a class="Timelinebutton" href="https://www.google.com" target="_self">Reels</a>
<a class="Timelinebutton" href="https://www.google.com" target="_self">IGTV</a>
<a class="Timelinebutton" href="https://www.google.com" target="_self">Tagged</a>
    </br>
<table>
    </br>
    <tbody class="Body">
        <tr>
            <td>
                <img id="Span15" style="width: 250px; height: 250px;"
                     alt="Aaron Rodgers Image"
                     src="https://thespun.com/wp-content/uploads/2020/12/GettyImages-1289786527-775x465.jpg" />
            </td>
            <td>
                <img style="width: 250px; height: 250px;"
                     alt="Devante Adams Image"
                     src="https://cheeseheadtv.com/sites/default/files/post/2020/12/usatsi_15366769_168380931_lowres.jpg" />
            </td>
            <td>
                <img style="width: 250px; height: 250px;"
                     alt="Aaron Jones Image"
                     src="https://www.sportscasting.com/wp-content/uploads/2021/04/Aaron-Jones-father.jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <img style="width: 250px; height: 250px;"
                     alt="Packers Image"
                     src="https://specials-images.forbesimg.com/imageserve/5ff5c2240a76b5d5e5fdd11e/960x0.jpg?fit=scale" />
            </td>
            <td>
                <img style="width: 250px; height: 250px;"
                     alt="Packers Vs. Vikings Image"
                     src="https://www.keyc.com/resizer/krRGS1a1uObk2LYiHSzG6NP_Jo4=/1200x600/cloudfront-us-east-1.images.arcpublishing.com/raycom/EYDMX22PXZAZXLCDYTG2QOQRRY.jpg" />
            </td>
            <td>
                <iframe width="250" height="250"
                        src="https://www.youtube.com/embed/HXRg6NZRCiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
        </tr>
    </tbody>
</table>
<div class="PositionLogIn">
    <table>
        <tbody>
            <tr>
                <td>
                    Log In to My Gram
                </td>
                <td>
                    <a class="Grambuttons" href="~/Home/Register">Log In</a>
                </td>
            </tr>
            <tr>
                <td>
                    Log In to see photos and videos from friends and discover other accounts you"ll love.
                </td>
                <td>
                    <a class="Grambuttons2" href="~/Home/Register">Sign Up</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    

